// Color variables
$mainColor: #3b5472
$secondColor: #7d9ab8
$thirdColor: #e1e2dc

// Default color variables
$bg1: rgb(198, 154, 249)
$bg2: rgb(100, 255, 102)
$bg3: rgb(121, 146,239)
$bg4: rgb(104, 244, 255)
$bg5: rgb(255, 255, 108)
$bg6: rgb(255, 100, 213)

// Typografy
$Nunitosans: 'Nunito sans', sans-serif
$h55: 55px
$h34: 34px
$fs16: 16px
$LH-21: 21px
$LH-24: 24px
$fw800: 800
$fw600: 600

.menu
    background: #ffffff
    width: 100%
    height: 80px
    position: sticky
    top: 0
    z-index: 10
    
    .navbar
        overflow: auto
        max-width: 1000px
        margin: 0 auto

        %btn
            float: left
            padding: 8px 16px
            margin: 21px 13px 21px 0
            text-decoration: none
            color: $secondColor
            font-size: $fs16

            .logo
                background: url('../rsrc/ico/Logo.svg')
        
        .homelogo
            @extend %btn
            margin: 0 0 0 0
    
        .instagram, .facebook, .signup, .tienda
            float: right
            padding: 0 8px
            margin: 28px 0
    
        .tienda
            background: rgb(209, 221, 229)
            background: linear-gradient(90deg, rgba(209, 221, 229, 1) 0%, rgba(125, 154, 184, 1) 100%)
            color: #ffffff
            padding: 16px 24px
            margin: 12px 13px 12px 0
            border-radius: 8px
            font-size: $fs16
            float: right

        .signup
            border: 2px solid $secondColor
            border-radius: 8px
            color: $secondColor
            padding: 14px 24px
            margin: 12px 55px 12px 0
            font-size: $fs16
            float: right
