.pruebas
    margin: 90px 0 0 0

    .icon-plicometro
        background: url('../rsrc/ico/Plicometro.svg')
        width: 80px
        height: 80px
        background-size: cover
        background-repeat: no-repeat
        background-position: center
        margin: 0 auto

    .evaluacion1
        width: 100%
        text-align: center
        font-size: $h34
        color: $mainColor
        margin: 41px 0 0 0

    .txt
        width: 100%
        text-align: center
        font-size: $fs16
        font-weight: $fw800
        color: $mainColor
        margin: 30px 0 0 0

    // ---------------------
    @mixin divs($bg, $width-)
        background: $bg
        width: $width-
        margin: 21px 0 0 0
        padding: 21px 8px 34px 8px
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        box-sizing: border-box
        border: 1px solid #f5f5f5
        border-radius: 8px
        box-shadow: 0 13px 21px 0 rgba(15, 15, 15, 0.1)

    @mixin titulo
        width: 100%
        text-align: center
        margin: 0 0 21px 0

    @mixin div-estatura($width, $justify)
        width: $width
        margin: 0
        display: flex
        flex-wrap: wrap
        justify-content: $justify
        position: relative

    @mixin label
        width: 100%
        box-sizing: border-box
        text-align: center

    @mixin pseudo($ico)
        content: ''
        display: block
        background: $ico
        width: 50px
        height: 50px
        margin: 0 auto 8px auto

    @mixin pseudo-after($icono-mujer)
        content: ''
        background: $icono-mujer
        display: block
        width: 50px
        height: 50px
        position: absolute
        transform: translate(-28px, 21px)

    @mixin pseudo-before($icono-hombre)
        content: ''
        background: $icono-hombre
        display: block
        width: 50px
        height: 50px
        position: absolute
        transform: translate(28px, 21px)

    @mixin input
        background: none
        width: 40%
        box-sizing: border-box
        text-align: center
        color: $secondColor
        font-style: italic
        font-weight: 600
        border: 0
        border-bottom: 2px solid $mainColor
        -moz-appearance: textfield

    @mixin pseudo2($medida)
        content: $medida
        margin: auto 0

    @mixin boton
        background: none
        border: 2px solid $mainColor
        border-radius: 8px
        box-sizing: border-box
        margin: 34px 0 21px 0
        padding: 12px 21px
        color: $mainColor
        font-variant: small-caps
        font-size: 16px
        font-weight: 800
        cursor: pointer

    @mixin resultado
        width: 50%
        background: none
        border: 0
        border-bottom: 2px solid $mainColor
        box-sizing: border-box
        text-align: center
        font-size: 16px
        font-weight: 800
        margin: 0 25%
    // --------------------------

    .form
        width: 100%
        display: flex
        justify-content: space-between

        .div-imc
            @include divs(#ffffff, 32%)

            .titulo-imc
                @include titulo

            .estatura-imc
                @include div-estatura(47%, center)

                .label-pseudo
                    @include label
                    &::after
                        @include pseudo(url('../rsrc/ico/Estatura.svg'))

                // QUITANDO EL SPIN DEL INPUT DE TIPO NUMBER---
                .input-num::-webkit-inner-spin-button,
                .input-num::-webkit-outer-spin-button
                    -webkit-appearance: none
                .input-num
                    @include input
                &::after
                    @include pseudo2('cm')

            .peso-imc
                @include div-estatura(47%, center)

                .label-pseudo
                    @include label
                    &::after
                        @include pseudo(url('../rsrc/ico/Peso.svg'))

                .input-num::-webkit-inner-spin-buttom,
                .input-num::-webkit-outer-spin-button
                    -webkit-appearance: none
                .input-num
                    @include input
                &::after
                    @include pseudo2('kg')

            input[type="button"]
                @include boton

            input[name="resultado-imc"]
                @include resultado

        .div-grasa
            @include divs(#ffffff, 32%)

            .titulo-grasa
                @include titulo

            .sexo-grasa
                @include div-estatura(30%, space-around)

                .label-sexo
                    @include label

                .input-mujer
                    margin: 13px 0 0 0
                &::after
                    @include pseudo-after(url('../rsrc/ico/Mujer.svg'))

                .input-hombre
                    margin: 13px 0 0 0
                &::before
                    @include pseudo-before(url('../rsrc/ico/Hombre.svg'))

            .porcentaje-grasa
                @include div-estatura(30%, center)

                .label-grasa
                    @include label
                    &::after
                        @include pseudo(url('../rsrc/ico/Grasa.svg'))

                .input-grasa
                    @include input
                &::after
                    @include pseudo2('%')
                
            .edad-grasa
                @include div-estatura(30%, center)

                .label-edad
                    @include label
                    &::after
                        @include pseudo(rgba(123, 123, 123, 0))
                
                .input-edad1
                    @include input
                &::after
                    @include pseudo2('años')
                    
            input[type="button"]
                @include boton
                
            input[type="text"]
                @include resultado

        .div-musculo
            @include divs(#ffffff, 32%)

            .titulo-musculo
                @include titulo
                
            .sexo-musculo
                @include div-estatura(30%, space-around)

                .label-sexo
                    @include label

                .input-mujer
                    margin: 13px 0 0 0
                &::after
                    @include pseudo-after(url('../rsrc/ico/Mujer.svg'))

                .input-hombre
                    margin: 13px 0 0 0
                &::before
                    @include pseudo-before(url('../rsrc/ico/Hombre.svg'))

            .porcentaje-musculo
                @include div-estatura(30%, center)
                
                .label-porcentaje
                    @include label
                    &::after
                        @include pseudo(url('../rsrc/ico/Masamuscular.svg'))
                        
                .input-musculo
                    @include input
                &::after
                    @include pseudo2('%')
                    
            .edad-musculo
                @include div-estatura(30%, center)
                
                .label-edad
                    @include label
                    &::after
                        @include pseudo(rgba(123, 123, 123, 0))
                        
                .input-edad
                    @include input
                &::after
                    @include pseudo2('años')

            input[type="button"]
                @include boton
                
            input[type="text"]
                @include resultado
