.testimonios
    margin: 0 0 55px 0

    .title
        width: 100%
        text-align: center
        font-size: $h34
        margin: 144px 0 0 0
    .slides
        margin: 55px 0 0 0
            
        .slide1
            // background: $bg2
        .fb-comentarios
            text-decoration: none

            @mixin foto($url)
                background: $url
                width: 400px
                height: 350px
                background-size: cover
                background-repeat: no-repeat
                background-position: top
                margin: 0 auto
            .foto1
                @include foto(url('../rsrc/img/antes-despues/IMG-20200529-WA0010.jpg'))
                    

            .nombre-txt
                width: 100%
                display: flex
                flex-wrap: wrap
                justify-content: center

                .nombre
                    width: 100%
                    margin: 30px 0 8px 0
                    text-align: center
                    color: $mainColor
                    font-size: 21px

                .txt
                    width: 80%
                    margin: 0
                    text-align: center
                    color: $mainColor

            .foto2
                @include foto(url('../rsrc/img/antes-despues/IMG-20200529-WA0011.jpg'))
            .foto3
                @include foto(url('../rsrc/img/antes-despues/IMG-20200529-WA0012.jpg'))
            .foto4
                @include foto(url('../rsrc/img/antes-despues/IMG-20200529-WA0014.jpg'))
            .foto5
                @include foto(url('../rsrc/img/antes-despues/IMG-20200529-WA0015.jpg'))

            .fas::after
                content: fas fa-star

        .slidesjs-pagination
            display: none
        .slidesjs-previous
            display: none
        .slidesjs-next
            display: none
        .slidesjs-play
            display: none
        .slidesjs-stop
            color: #ffffff
