body {
  font-family: "Nunito sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #3b5472;
  background: url("../rsrc/texture/marble19201.jpg");
  background-attachment: fixed;
  background-size: 75%;
  background-position: 130% 0%;
}

.box {
  max-width: 1000px;
  margin: 0 auto;
}

.menu {
  background: #ffffff;
  width: 100%;
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.menu .navbar {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

.menu .navbar .btn-homelogo {
  float: left;
  margin: 9px 0 0 0;
}

.menu .navbar .btn-homelogo .logo {
  background: url("../rsrc/ico/Logo.svg");
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu .navbar .btn-servicios {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-servicios::before {
  content: url("../rsrc/ico/Servicios.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-productos {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-productos::before {
  content: url("../rsrc/ico/Productos.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-contacto {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-contacto::before {
  content: url("../rsrc/ico/Contacto.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-blog {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-blog::before {
  content: url("../rsrc/ico/Blog.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-instagram {
  float: right;
  text-decoration: none;
  color: #7d9ab8;
  font-size: 21px;
  margin: 30px 0 0 13px;
}

.menu .navbar .btn-facebook {
  float: right;
  text-decoration: none;
  color: #7d9ab8;
  font-size: 21px;
  margin: 30px 0 0 55px;
}

.menu .navbar .btn-signup {
  background: transparent;
  float: right;
  padding: 16px 30px;
  margin: 10px 0 0 13px;
  text-decoration: none;
  color: #7d9ab8;
  border-radius: 8px;
  border: 2px solid #7d9ab8;
}

.menu .navbar .btn-tienda {
  background: -webkit-gradient(linear, left top, right top, from(#d1dde5), to(#7d9ab8));
  background: linear-gradient(90deg, #d1dde5 0%, #7d9ab8 100%);
  float: right;
  padding: 18px 32px;
  margin: 10px 0 0 13px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 8px;
  border: 0px;
}

.menu .navbar .btn-tienda::after {
  content: url("../rsrc/ico/Tienda-white.svg");
  float: right;
  width: 19px;
  height: 19px;
  position: relative;
  top: 3px;
  right: px;
  padding: 0px 8px;
}

.cvrebeca {
  max-width: 100%;
  overflow: auto;
  margin: 30px 0 0 0;
}

.cvrebeca .fotorebe {
  background: url("../rsrc/img/rebe/rebe-web-tinypng.png");
  width: 440px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  float: left;
}

.cvrebeca .cv {
  width: 660px;
  position: absolute;
  margin: 50px 0 0 340px;
  float: left;
}

.cvrebeca .cv .soyrebe {
  color: #3b5472;
  font-size: 55px;
  line-height: 50px;
  margin: 0;
}

.cvrebeca .cv .fraserebe {
  color: #3b5472;
  font-size: 18px;
  margin: 0 0 30px 0;
}

.cvrebeca .cv .trayectoria {
  color: #3b5472;
  font-size: 16px;
  margin: 0 0 0 50px;
}

.tratamiento {
  margin: 30px 0 0 0;
}

.tratamiento .quetratamos {
  font-size: 34px;
  color: #3b5472;
  text-align: center;
  margin: 0 0 30px 0;
}

.tratamiento .cardtratamientos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tratamiento .cardtratamientos .cardgroup-uno {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #3b5472;
}

.tratamiento .cardtratamientos .cardgroup-uno .card-uno, .tratamiento .cardtratamientos .cardgroup-uno .card-dos, .tratamiento .cardtratamientos .cardgroup-uno .card-tres, .tratamiento .cardtratamientos .cardgroup-uno .card-cuatro, .tratamiento .cardtratamientos .cardgroup-uno .card-cinco, .tratamiento .cardtratamientos .cardgroup-uno .card-seis, .tratamiento .cardtratamientos .cardgroup-uno .card-siete {
  width: 160px;
  font-size: 0.86rem;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.tratamiento .cardtratamientos .cardgroup-uno .card-uno .icon-sobrepeso, .tratamiento .cardtratamientos .cardgroup-uno .card-dos .icon-sobrepeso, .tratamiento .cardtratamientos .cardgroup-uno .card-tres .icon-sobrepeso, .tratamiento .cardtratamientos .cardgroup-uno .card-cuatro .icon-sobrepeso, .tratamiento .cardtratamientos .cardgroup-uno .card-cinco .icon-sobrepeso, .tratamiento .cardtratamientos .cardgroup-uno .card-seis .icon-sobrepeso, .tratamiento .cardtratamientos .cardgroup-uno .card-siete .icon-sobrepeso, .tratamiento .cardtratamientos .cardgroup-uno .card-dos .icon-alimentacion, .tratamiento .cardtratamientos .cardgroup-uno .card-tres .icon-intolerancias, .tratamiento .cardtratamientos .cardgroup-uno .card-cuatro .icon-deportistas, .tratamiento .cardtratamientos .cardgroup-uno .card-cinco .icon-cirugia, .tratamiento .cardtratamientos .cardgroup-uno .card-seis .icon-cancer, .tratamiento .cardtratamientos .cardgroup-uno .card-siete .icon-intuitiva {
  background: url("../rsrc/ico/Sobrepeso.svg");
  width: 50px;
  height: 50px;
  background-size: cover;
  margin: 5px auto;
}

.tratamiento .cardtratamientos .cardgroup-uno .card-dos {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 140px;
      flex-basis: 140px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tratamiento .cardtratamientos .cardgroup-uno .card-dos .icon-alimentacion {
  background: url("../rsrc/ico/Alimentacionplantas.svg");
}

.tratamiento .cardtratamientos .cardgroup-uno .card-tres {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 140px;
      flex-basis: 140px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.tratamiento .cardtratamientos .cardgroup-uno .card-tres .icon-intolerancias {
  background: url("../rsrc/ico/Intolerancias.svg");
}

.tratamiento .cardtratamientos .cardgroup-uno .card-cuatro {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.tratamiento .cardtratamientos .cardgroup-uno .card-cuatro .icon-deportistas {
  background: url("../rsrc/ico/Deportistas.svg");
}

.tratamiento .cardtratamientos .cardgroup-uno .card-cinco {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 110px;
      flex-basis: 110px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.tratamiento .cardtratamientos .cardgroup-uno .card-cinco .icon-cirugia {
  background: url("../rsrc/ico/Cirugiabariatrica.svg");
}

.tratamiento .cardtratamientos .cardgroup-uno .card-seis {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.tratamiento .cardtratamientos .cardgroup-uno .card-seis .icon-cancer {
  background: url("../rsrc/ico/Cancer.svg");
}

.tratamiento .cardtratamientos .cardgroup-uno .card-siete {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.tratamiento .cardtratamientos .cardgroup-uno .card-siete .icon-intuitiva {
  background: url("../rsrc/ico/Alimentacionintuitiva.svg");
}

.tratamiento .cardtratamientos .cardgroup-dos {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #3b5472;
}

.tratamiento .cardtratamientos .cardgroup-dos .card-ocho, .tratamiento .cardtratamientos .cardgroup-dos .card-nueve, .tratamiento .cardtratamientos .cardgroup-dos .card-diez, .tratamiento .cardtratamientos .cardgroup-dos .card-once, .tratamiento .cardtratamientos .cardgroup-dos .card-doce, .tratamiento .cardtratamientos .cardgroup-dos .card-trece {
  width: 160px;
  font-size: 0.86rem;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-item-align: center;
      align-self: center;
}

.tratamiento .cardtratamientos .cardgroup-dos .card-ocho .icon-veganismo, .tratamiento .cardtratamientos .cardgroup-dos .card-nueve .icon-veganismo, .tratamiento .cardtratamientos .cardgroup-dos .card-diez .icon-veganismo, .tratamiento .cardtratamientos .cardgroup-dos .card-once .icon-veganismo, .tratamiento .cardtratamientos .cardgroup-dos .card-doce .icon-veganismo, .tratamiento .cardtratamientos .cardgroup-dos .card-trece .icon-veganismo, .tratamiento .cardtratamientos .cardgroup-dos .card-nueve .icon-mindfuleating, .tratamiento .cardtratamientos .cardgroup-dos .card-diez .icon-desordenmetabolico, .tratamiento .cardtratamientos .cardgroup-dos .card-once .icon-problemadigestivo, .tratamiento .cardtratamientos .cardgroup-dos .card-doce .icon-cetosis, .tratamiento .cardtratamientos .cardgroup-dos .card-trece .icon-enfermedadautoinmune {
  background: url("../rsrc/ico/Veganismo.svg");
  width: 50px;
  height: 50px;
  background-size: cover;
  margin: 5px auto;
}

.tratamiento .cardtratamientos .cardgroup-dos .card-nueve {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 125px;
      flex-basis: 125px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.tratamiento .cardtratamientos .cardgroup-dos .card-nueve .icon-mindfuleating {
  background: url("../rsrc/ico/Minfuleating.svg");
}

.tratamiento .cardtratamientos .cardgroup-dos .card-diez {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 130px;
      flex-basis: 130px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.tratamiento .cardtratamientos .cardgroup-dos .card-diez .icon-desordenmetabolico {
  background: url("../rsrc/ico/Desordenmetabolico.svg");
}

.tratamiento .cardtratamientos .cardgroup-dos .card-once {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.tratamiento .cardtratamientos .cardgroup-dos .card-once .icon-problemadigestivo {
  background: url("../rsrc/ico/Problemadigestivos.svg");
}

.tratamiento .cardtratamientos .cardgroup-dos .card-doce {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.tratamiento .cardtratamientos .cardgroup-dos .card-doce .icon-cetosis {
  background: url("../rsrc/ico/Cetosis.svg");
}

.tratamiento .cardtratamientos .cardgroup-dos .card-trece {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 120px;
      flex-basis: 120px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.tratamiento .cardtratamientos .cardgroup-dos .card-trece .icon-enfermedadautoinmune {
  background: url("../rsrc/ico/Enfermedadesautoinmunes.svg");
}

.pruebas {
  margin: 90px 0 0 0;
}

.pruebas .icon-plicometro {
  background: url("../rsrc/ico/Plicometro.svg");
  width: 80px;
  height: 80px;
  background-size: cover;
  margin: 5px auto;
}

.pruebas .evaluacion1 {
  text-align: center;
  font-size: 34px;
  color: #3b5472;
  margin: 41px 0 0 0;
}

.pruebas .txt {
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  color: #3b5472;
  margin: 30px 0 0 0;
}

.pruebas .form {
  width: 100%;
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pruebas .form .card-sexo, .pruebas .form .card-estatura, .pruebas .form .card-peso, .pruebas .form .card-grasa, .pruebas .form .card-musculo {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 34px 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.pruebas .form .card-sexo label[for="sexo"], .pruebas .form .card-estatura label[for="sexo"], .pruebas .form .card-peso label[for="sexo"], .pruebas .form .card-grasa label[for="sexo"], .pruebas .form .card-musculo label[for="sexo"] {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #3b5472;
}

.pruebas .form .card-sexo .mujer, .pruebas .form .card-estatura .mujer, .pruebas .form .card-peso .mujer, .pruebas .form .card-grasa .mujer, .pruebas .form .card-musculo .mujer {
  margin: 0 0 0 0;
}

.pruebas .form .card-sexo .mujer .icon-mujer, .pruebas .form .card-estatura .mujer .icon-mujer, .pruebas .form .card-peso .mujer .icon-mujer, .pruebas .form .card-grasa .mujer .icon-mujer, .pruebas .form .card-musculo .mujer .icon-mujer {
  background: url("../rsrc/ico/Mujer.svg");
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 0 13px 0 0;
}

.pruebas .form .card-sexo .mujer input[type="radio"], .pruebas .form .card-estatura .mujer input[type="radio"], .pruebas .form .card-peso .mujer input[type="radio"], .pruebas .form .card-grasa .mujer input[type="radio"], .pruebas .form .card-musculo .mujer input[type="radio"] {
  margin: 0 0 0 13px;
}

.pruebas .form .card-sexo .hombre, .pruebas .form .card-estatura .hombre, .pruebas .form .card-peso .hombre, .pruebas .form .card-grasa .hombre, .pruebas .form .card-musculo .hombre {
  margin: 0 0 0 0;
}

.pruebas .form .card-sexo .hombre .icon-hombre, .pruebas .form .card-estatura .hombre .icon-hombre, .pruebas .form .card-peso .hombre .icon-hombre, .pruebas .form .card-grasa .hombre .icon-hombre, .pruebas .form .card-musculo .hombre .icon-hombre {
  background: url("../rsrc/ico/Hombre.svg");
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 0 0 0 13px;
}

.pruebas .form .card-sexo .hombre input[type="radio"], .pruebas .form .card-estatura .hombre input[type="radio"], .pruebas .form .card-peso .hombre input[type="radio"], .pruebas .form .card-grasa .hombre input[type="radio"], .pruebas .form .card-musculo .hombre input[type="radio"] {
  margin: 0 0 0 30px;
}

.pruebas .form .card-estatura label[for="estatura"] {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #3b5472;
}

.pruebas .form .card-estatura .icon-estatura {
  background: url("../rsrc/ico/Estatura.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 50px;
}

.pruebas .form .card-estatura .input-num::-webkit-inner-spin-button,
.pruebas .form .card-estatura .input-num::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.pruebas .form .card-estatura .input-num {
  -moz-appearance: textfield;
  width: 60%;
  border: none;
  border-bottom: 2px solid #3b5472;
  padding: 3px 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Nunito sans", sans-serif;
  font-weight: 800;
  text-align: left;
}

.pruebas .form .card-estatura label[for="m"] {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.pruebas .form .card-peso label[for="peso"] {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.pruebas .form .card-peso .icon-peso {
  background: url("../rsrc/ico/Peso.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 50px;
}

.pruebas .form .card-peso .input-num::-webkit-inner-spin-button,
.pruebas .form .card-peso .input-num::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.pruebas .form .card-peso .input-num {
  background: none;
  -moz-appearance: textfield;
  width: 60%;
  border: none;
  border-bottom: 2px solid #3b5472;
  padding: 3px 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Nunito sans", sans-serif;
  font-weight: 800;
  text-align: left;
}

.pruebas .form .card-peso label[for="kg"] {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.pruebas .form .card-grasa label[for="grasa"] {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.pruebas .form .card-grasa .icon-grasa {
  background: url("../rsrc/ico/Grasa.svg");
  width: 50px;
  height: 50px;
}

.pruebas .form .card-grasa input[type="text"] {
  background: none;
  width: 80%;
  border: none;
  border-bottom: 2px solid #3b5472;
  padding: 3px 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Nunito sans", sans-serif;
  font-weight: 800;
  text-align: left;
}

.pruebas .form .card-musculo label[for="musculo"] {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.pruebas .form .card-musculo .icon-musculo {
  background: url("../rsrc/ico/Masamuscular.svg");
  width: 50px;
  height: 50px;
}

.pruebas .form .card-musculo input[type="text"] {
  background: none;
  width: 80%;
  border: none;
  border-bottom: 2px solid #3b5472;
  padding: 3px 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Nunito sans", sans-serif;
  font-weight: 800;
  text-align: left;
}

.pruebas .form input[type="submit"] {
  background: #ffffff;
  width: 20%;
  padding: 18px 32px;
  margin: 0 auto;
  color: #3b5472;
  font-variant: small-caps;
  font-size: 18px;
  font-weight: 800;
  border: 2px solid #3b5472;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.instalaciones {
  margin: 144px 0 0 0;
}

.instalaciones .conoce {
  width: 100%;
  text-align: center;
  font-size: 34px;
  margin: 0 0 34px 0;
}

.instalaciones .galeria {
  width: 100%;
  overflow: auto;
}

.instalaciones .galeria .img1 {
  margin: 0 21px 21px 0;
  background: url("../rsrc/img/consulting-room/Consultorio1.jpg");
  width: 600px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.instalaciones .galeria .img2 {
  background: url("../rsrc/img/consulting-room/Consultorio2.jpg");
  width: 379px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.instalaciones .galeria .img3 {
  margin: 0 21px 21px 0;
  background: url("../rsrc/img/consulting-room/Consultorio3.jpg");
  width: 379px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.instalaciones .galeria .img4 {
  background: url("../rsrc/img/consulting-room/Consultorio4.jpg");
  width: 600px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.instalaciones .galeria .img5 {
  margin: 0 0 21px 0;
  background: url("../rsrc/img/consulting-room/Consultorio5.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.instalaciones .galeria .img6 {
  background: url("../rsrc/img/consulting-room/Consultorio6.jpg");
  width: 600px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.instalaciones .galeria .descripcion {
  width: 379px;
  height: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 13px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.instalaciones .galeria .descripcion .txt {
  margin: 0 0 34px 0;
  text-align: left;
  line-height: 21px;
}

.instalaciones .galeria .descripcion .agendarcita {
  background: #d1dde5;
  background: -webkit-gradient(linear, left top, right top, from(#d1dde5), to(#7d9ab8));
  background: linear-gradient(90deg, #d1dde5 0%, #7d9ab8 100%);
  width: 50%;
  display: inline-block;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.testimonios {
  margin: 0 0 55px 0;
}

.testimonios .title {
  width: 100%;
  text-align: center;
  font-size: 34px;
  margin: 144px 0 0 0;
}

.testimonios .slides {
  margin: 55px 0 0 0;
}

.testimonios .slides .fb-comentarios {
  text-decoration: none;
}

.testimonios .slides .fb-comentarios .foto1 {
  background: url("../rsrc/img/antes-despues/IMG-20200529-WA0010.jpg");
  width: 400px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin: 0 auto;
}

.testimonios .slides .fb-comentarios .nombre-txt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonios .slides .fb-comentarios .nombre-txt .nombre {
  width: 100%;
  margin: 30px 0 8px 0;
  text-align: center;
  color: #3b5472;
  font-size: 21px;
}

.testimonios .slides .fb-comentarios .nombre-txt .txt {
  width: 80%;
  margin: 0;
  text-align: center;
  color: #3b5472;
}

.testimonios .slides .fb-comentarios .foto2 {
  background: url("../rsrc/img/antes-despues/IMG-20200529-WA0011.jpg");
  width: 400px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin: 0 auto;
}

.testimonios .slides .fb-comentarios .foto3 {
  background: url("../rsrc/img/antes-despues/IMG-20200529-WA0012.jpg");
  width: 400px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin: 0 auto;
}

.testimonios .slides .fb-comentarios .foto4 {
  background: url("../rsrc/img/antes-despues/IMG-20200529-WA0014.jpg");
  width: 400px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin: 0 auto;
}

.testimonios .slides .fb-comentarios .foto5 {
  background: url("../rsrc/img/antes-despues/IMG-20200529-WA0015.jpg");
  width: 400px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin: 0 auto;
}

.testimonios .slides .fb-comentarios .stars {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonios .slides .fb-comentarios .stars .fas {
  color: #dad60d;
  margin: 0 13px 0 0;
  font-size: 34px;
}

.testimonios .slides .slidesjs-pagination {
  display: none;
}

.testimonios .slides .slidesjs-previous {
  display: none;
}

.testimonios .slides .slidesjs-next {
  display: none;
}

.testimonios .slides .slidesjs-play {
  display: none;
}

.testimonios .slides .slidesjs-stop {
  color: #ffffff;
}

.piepagina {
  background: #e1e2dc;
  padding: 55px 0;
}

.piepagina .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.piepagina .column1 {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.piepagina .column1 .logo {
  background: url(../rsrc/ico/Logo-blanco.svg);
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

.piepagina .column1 .info-contacto {
  margin: 34px 0 0 0;
}

.piepagina .column1 .info-contacto .whatsapp {
  width: 100%;
  color: #ffffff;
  margin: 0 0 8px 0;
  padding: 0;
}

.piepagina .column1 .info-contacto .whatsapp::before {
  content: url(../rsrc/ico/Whatsapp.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transform: translate(-27px, 0px);
          transform: translate(-27px, 0px);
}

.piepagina .column1 .info-contacto .telefono {
  width: 100%;
  color: #ffffff;
  margin: 0 0 8px 0;
  padding: 0;
}

.piepagina .column1 .info-contacto .telefono::before {
  content: url(../rsrc/ico/Telfijo.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transform: translate(-27px, 0px);
          transform: translate(-27px, 0px);
}

.piepagina .column1 .info-contacto .correo {
  width: 100%;
  color: #ffffff;
  margin: 0 0 8px 0;
  padding: 0;
}

.piepagina .column1 .info-contacto .correo::before {
  content: url(../rsrc/ico/Correo.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transform: translate(-27px, 0px);
          transform: translate(-27px, 0px);
}

.piepagina .column1 .info-contacto .direccion {
  width: 100%;
  color: #ffffff;
  margin: 0 0 8px 0;
  padding: 0;
}

.piepagina .column1 .info-contacto .direccion::before {
  content: url(../rsrc/ico/Direccion.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transform: translate(-27px, 5px);
          transform: translate(-27px, 5px);
}

.piepagina .column1 .info-contacto .horarios {
  width: 100%;
  color: #ffffff;
  margin: 0 0 8px 0;
  padding: 0;
}

.piepagina .column1 .info-contacto .horarios::before {
  content: url(../rsrc/ico/Cita.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transform: translate(-27px, 4px);
          transform: translate(-27px, 4px);
}

.piepagina .column2 {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.piepagina .column2 .sub-servicios {
  width: 100%;
  margin: 55px 0 21px 0;
  padding: 0;
  color: #ffffff;
}

.piepagina .column2 .btn2 {
  color: #ffffff;
  margin: 5px 0;
}

.piepagina .column3 {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.piepagina .column3 .sub-productos {
  width: 100%;
  margin: 55px 0 21px 0;
  padding: 0;
  color: #ffffff;
}

.piepagina .column3 .btn {
  color: #ffffff;
  margin: 5px 0;
}

.piepagina .column4 {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.piepagina .column4 .facebook, .piepagina .column4 .instagram, .piepagina .column4 .youtube {
  width: 12%;
  margin: 55px 0 29px 0;
  padding: 0;
  color: #ffffff;
}

.piepagina .column4 .servicios, .piepagina .column4 .productos, .piepagina .column4 .contacto, .piepagina .column4 .blog {
  width: 100%;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */