// Color variables
$mainColor: #3b5472
$secondColor: #7d9ab8
$thirdColor: #e1e2dc

// Default color variables
$bg1: rgb(198, 154, 249)
$bg2: rgb(100, 255, 102)
$bg3: rgb(121, 146,239)
$bg4: rgb(104, 244, 255)
$bg5: rgb(255, 255, 108)
$bg6: rgb(255, 100, 213)

// Typografy
$Nunitosans: 'Nunito sans', sans-serif
$h55: 55px
$h34: 34px
$fs16: 16px
$LH-21: 21px
$LH-24: 24px
$fw800: 800
$fw600: 600

body 
    font-family: $Nunitosans
    font-size: $fs16
    font-weight: $fw600
    line-height: $LH-21

@import header
@import main-content
