@import variables

body 
    font-family: $Nunitosans
    font-size: $fs16
    font-weight: $fw600
    line-height: $LH-21
    color: $mainColor

.box
    max-width: 1000px
    margin: 0 auto

@import header
@import rebeca
@import tratamientos
@import pruebas
@import instalaciones
@import testimonios
