.productos
    margin: 55px 0
    padding: 0
    display: flex
    flex-wrap: wrap 
    justify-content: space-between

    // MIXINS--------------
    @mixin cards
        width: 32%
        margin: 0
        padding: 0
        display: flex
        flex-wrap: wrap 
        justify-content: center
        position: relative
        overflow: hidden

    @mixin after($content)
        background: $thirdColor
        content: $content
        display: block
        width: auto
        height: 85%
        position: absolute
        box-sizing: border-box
        padding: 13px 27px
        transform: translate(0, -100%)
        transition: 0.8s ease

    @mixin afterHover
        transform: translate(0, 0)

    @mixin img-card($fondo)
        background: $fondo
        width: 100%
        height: 250px
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        margin: 0
        padding: 0

    @mixin icono-card($icon)
        background: $icon
        width: 60px
        height: 60px 
        margin: 8px 0
        padding: 0

    @mixin titulo($fontsize)
        width: 100%
        font-size: $fontsize
        line-height: 34px
        text-align: center
        margin: 0 0 13px 0
        padding: 0

    @mixin boton-card
        display: inline-block
        padding: 16px 30px
        margin: 34px 0 0 0
        border: 2px solid $mainColor
        border-radius: 8px
        color: $mainColor
        text-decoration: none
        align-self: flex-end
    // ----------------------

    // CARD MENU-----------------
    .card-menu
        @include cards
        &::after
            @include after('En alianza con Real Food, llevamos a tu casa un menú 100% balanceado y personalizado que se adecua a tus necesidades nutricionales. Te ayudamos a cumplir con tu plan de alimentación preparándote alimentos saludables, sabrosos que se entregan diariamente en tu casa u oficina!!')
        &:hover::after
            @include afterHover

        .img
            @include img-card(url(../../rsrc/img/productos/menu.jpg))

        .icono-menu
            @include icono-card(url(../../rsrc/ico/Menudomicilio.svg))

        .titulo-card
            @include titulo($h34)
        
        .btn-menu
            @include boton-card
            &::before
                content: url(../../rsrc/ico/Carrito.svg)
                display: inline-block 
                width: 20px
                height: 20px
                position: relative 
                top: 4px
                padding: 0 3px

    // CARD COMPLEMENTOS ALIMENTICIOS ESPECIALIZADOS-------
    .card-complementos
        @extend .card-menu
        &::after
            @include after('Alimentos de alto diseño: Proteifine - Proteínas naturales de alto valor biológico, combinando leche, huevo, soja y chicharos, garantizando un aporte completo del esquema de aminoacidos esenciales. Con aporte promedio de 15 a 20 gramos de proteína por porción, bajos en carbohidratos y grasas. En presentación individual con una amplia variedad de crepas, tostadas de pan, madalenas, galletas y barritas. Proteifine para alergias e intolerancias - Sin gluten, sin proteína de leche, sin soja.')
            

        .img 
            @include img-card(url(../../rsrc/img/productos/proteifine.png))

        .icono-complementos
            @include icono-card(url(../../rsrc/ico/Suplementos.svg))

        .titulo-card
            @include titulo($h34)

        .btn-complementos
            @include boton-card
            &::before
                content: url(../../rsrc/ico/Carrito.svg)
                display: inline-block 
                width: 20px
                height: 20px
                position: relative 
                top: 4px
                padding: 0 3px

    // CARD MICRONUTRICION--------------------
    .card-micronutricion
        @extend .card-menu
        &::after
            @include after('La micronutrición de vanguardia. Últimas tecnologías en innovación nutricional. Los micronutrientes, así llamados por ser requeridos en pequeñas cantidades, no dejan de ser indispensables para el buen funcionamiento de nuestro organismo. En primer lugar, permiten absorber y utilizar adecuadamente los micronutrientes (proteínas, glúcidos y lípidos), que nos proporcionan energía requerida por nuestro organismo para todas sus actividades. Realizan también una gran diversidad de funciones para preservar nuestra salud y mejorar nuestra calidad de vida. La mayoria de esos micronutrientes no son fabricados por nuestro organismo y deben ser aportados por la alimentación.')

        .img
            @include img-card(url(../../rsrc/img/productos/candi5.png))

        .icono-micronutricion
            @include icono-card(url(../../rsrc/ico/Postresketo2.svg))

        .titulo-card
            @include titulo($h34)

        .btn-micronutricion
            @include boton-card
            &::before
                content: url(../../rsrc/ico/Carrito.svg)
                display: inline-block 
                width: 20px
                height: 20px
                position: relative 
                top: 4px
                padding: 0 3px
