.productos
    display: flex
    justify-content: space-between
    margin: 89px 0 144px 0
            
    .card-menu
        width: 320px
        display: flex
        flex-wrap: wrap
        justify-content: center

        @mixin img-card($bg)
            background: $bg
            width: 100%
            height: 250px
            background-size: cover
            background-repeat: no-repeat
            background-position: right

        @mixin icon($bg)
            background: $bg
            width: 50px
            height: 50px
            background-size: cover
            background-repeat: no-repeat
            background-position: center
            margin: 13px 0 8px 0

        .img
            @include img-card(url('../../rsrc/img/productos/menu.jpg'))
        
        .icono-menu
            @include icon(url('../../rsrc/ico/Menudomicilio.svg'))

        .menu
            margin: 0
            width: 100%
            text-align: center
            font-size: $h34
            line-height: 34px
            margin: 0 0 34px 0

        .btn-menu
            background: $mainColor
            display: inline-block
            padding: 16px 32px
            text-decoration: none
            color: #ffffff
            border-radius: 8px
            margin: 21px 0 0 0

        @mixin btn-cta-before($bg)
            content: $bg
            display: inline-block
            width: 19px
            height: 19px
            position: relative
            top: 3px
            right: 5px

        .btn-menu::before
            @include btn-cta-before(url('../../rsrc/ico/Tienda-white.svg'))

    .card-complementos
        @extend .card-menu

        @mixin img-card($bg)
            background: $bg
            width: 100%
            height: 250px
            background-size: cover
            background-repeat: no-repeat
            background-position: right

        @mixin icon($bg)
            background: $bg
            width: 50px
            height: 50px
            background-size: cover
            background-repeat: no-repeat
            background-position: center
            margin: 13px 0 8px 0

        .img
            @include img-card(url('../../rsrc/img/productos/proteifine.png'))

        .icono-complementos
            @include icon(url('../../rsrc/ico/Suplementos.svg'))

        .complementos
            @extend .menu

        .btn-complementos
            @extend .btn-menu

        @mixin btn-cta-before($bg)
            content: $bg
            display: inline-block
            width: 19px
            height: 19px
            position: relative
            top: 3px
            right: 5px

        .btn-complementos::before
            @include btn-cta-before(url('../../rsrc/ico/Tienda-white.svg'))

    .card-micronutricion
        @extend .card-menu

        @mixin img-card($bg)
            background: $bg
            width: 100%
            height: 250px
            background-size: cover
            background-repeat: no-repeat
            background-position: right

        @mixin icon($bg)
            background: $bg
            width: 50px
            height: 50px
            background-size: cover
            background-repeat: no-repeat
            background-position: center
            margin: 13px 0 8px 0

        .img
            @include img-card(url('../../rsrc/img/productos/candi5.png'))

        .icono-micronutricion
            @include icon(url('../../rsrc/ico/Postresketo2.svg'))

        .micronutricion
            @extend .menu

        .btn-micronutricion
            @extend .btn-menu

        @mixin btn-cta-before($bg)
            content: $bg
            display: inline-block
            width: 19px
            height: 19px
            position: relative
            top: 3px
            right: 5px

        .btn-micronutricion::before
            @include btn-cta-before(url('../../rsrc/ico/Tienda-white.svg'))
