body {
  font-family: "Nunito sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #3b5472;
  background: url("../../rsrc/texture/marble19201.jpg");
  background-size: 75%;
  background-position: 130% 0%;
  margin: 0;
}

.box {
  max-width: 1000px;
  margin: 0 auto;
}

.menu, .productos .card-complementos .complementos, .productos .card-micronutricion .micronutricion {
  background: #ffffff;
  width: 100%;
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.menu .navbar, .productos .card-complementos .complementos .navbar, .productos .card-micronutricion .micronutricion .navbar {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

.menu .navbar .btn-homelogo, .productos .card-complementos .complementos .navbar .btn-homelogo, .productos .card-micronutricion .micronutricion .navbar .btn-homelogo {
  float: left;
  margin: 9px 0 0 0;
}

.menu .navbar .btn-homelogo .logo, .productos .card-complementos .complementos .navbar .btn-homelogo .logo, .productos .card-micronutricion .micronutricion .navbar .btn-homelogo .logo {
  background: url("../../rsrc/ico/Logo.svg");
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu .navbar .btn-servicios, .productos .card-complementos .complementos .navbar .btn-servicios, .productos .card-micronutricion .micronutricion .navbar .btn-servicios {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-servicios::before, .productos .card-complementos .complementos .navbar .btn-servicios::before, .productos .card-micronutricion .micronutricion .navbar .btn-servicios::before {
  content: url("../../rsrc/ico/Servicios.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-productos, .productos .card-complementos .complementos .navbar .btn-productos, .productos .card-micronutricion .micronutricion .navbar .btn-productos {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-productos::before, .productos .card-complementos .complementos .navbar .btn-productos::before, .productos .card-micronutricion .micronutricion .navbar .btn-productos::before {
  content: url("../../rsrc/ico/Productos.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-contacto, .productos .card-complementos .complementos .navbar .btn-contacto, .productos .card-micronutricion .micronutricion .navbar .btn-contacto {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-contacto::before, .productos .card-complementos .complementos .navbar .btn-contacto::before, .productos .card-micronutricion .micronutricion .navbar .btn-contacto::before {
  content: url("../../rsrc/ico/Contacto.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-blog, .productos .card-complementos .complementos .navbar .btn-blog, .productos .card-micronutricion .micronutricion .navbar .btn-blog {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-blog::before, .productos .card-complementos .complementos .navbar .btn-blog::before, .productos .card-micronutricion .micronutricion .navbar .btn-blog::before {
  content: url("../../rsrc/ico/Blog.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-instagram, .productos .card-complementos .complementos .navbar .btn-instagram, .productos .card-micronutricion .micronutricion .navbar .btn-instagram {
  float: right;
  text-decoration: none;
  color: #7d9ab8;
  font-size: 21px;
  margin: 30px 0 0 13px;
}

.menu .navbar .btn-facebook, .productos .card-complementos .complementos .navbar .btn-facebook, .productos .card-micronutricion .micronutricion .navbar .btn-facebook {
  float: right;
  text-decoration: none;
  color: #7d9ab8;
  font-size: 21px;
  margin: 30px 0 0 55px;
}

.menu .navbar .btn-signup, .productos .card-complementos .complementos .navbar .btn-signup, .productos .card-micronutricion .micronutricion .navbar .btn-signup {
  background: transparent;
  float: right;
  padding: 16px 30px;
  margin: 10px 0 0 13px;
  text-decoration: none;
  color: #7d9ab8;
  border-radius: 8px;
  border: 2px solid #7d9ab8;
}

.menu .navbar .btn-tienda, .productos .card-complementos .complementos .navbar .btn-tienda, .productos .card-micronutricion .micronutricion .navbar .btn-tienda {
  background: -webkit-gradient(linear, left top, right top, from(#d1dde5), to(#7d9ab8));
  background: linear-gradient(90deg, #d1dde5 0%, #7d9ab8 100%);
  float: right;
  padding: 18px 32px;
  margin: 10px 0 0 13px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 8px;
  border: 0px;
}

.menu .navbar .btn-tienda::after, .productos .card-complementos .complementos .navbar .btn-tienda::after, .productos .card-micronutricion .micronutricion .navbar .btn-tienda::after {
  content: url("../../rsrc/ico/Tienda-white.svg");
  float: right;
  width: 19px;
  height: 19px;
  position: relative;
  top: 3px;
  right: px;
  padding: 0px 8px;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 89px 0 144px 0;
}

.productos .card-menu, .productos .card-complementos, .productos .card-micronutricion {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productos .card-menu .img, .productos .card-complementos .img, .productos .card-micronutricion .img {
  background: url("../../rsrc/img/productos/menu.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.productos .card-menu .icono-menu, .productos .card-complementos .icono-menu, .productos .card-micronutricion .icono-menu {
  background: url("../../rsrc/ico/Menudomicilio.svg");
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 13px 0 8px 0;
}

.productos .card-menu .menu, .productos .card-complementos .menu, .productos .card-micronutricion .menu, .productos .card-complementos .complementos, .productos .card-micronutricion .micronutricion {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 34px;
  line-height: 34px;
  margin: 0 0 34px 0;
}

.productos .card-menu .btn-menu, .productos .card-complementos .btn-menu, .productos .card-micronutricion .btn-menu, .productos .card-complementos .btn-complementos, .productos .card-micronutricion .btn-micronutricion {
  background: #3b5472;
  display: inline-block;
  padding: 16px 32px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 8px;
  margin: 21px 0 0 0;
}

.productos .card-menu .btn-menu::before, .productos .card-complementos .btn-menu::before, .productos .card-micronutricion .btn-menu::before, .productos .card-complementos .btn-complementos::before, .productos .card-micronutricion .btn-micronutricion::before {
  content: url("../../rsrc/ico/Tienda-white.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 3px;
  right: 5px;
}

.productos .card-complementos .img {
  background: url("../../rsrc/img/productos/proteifine.png");
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.productos .card-complementos .icono-complementos {
  background: url("../../rsrc/ico/Suplementos.svg");
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 13px 0 8px 0;
}

.productos .card-complementos .btn-complementos::before {
  content: url("../../rsrc/ico/Tienda-white.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 3px;
  right: 5px;
}

.productos .card-micronutricion .img {
  background: url("../../rsrc/img/productos/candi5.png");
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.productos .card-micronutricion .icono-micronutricion {
  background: url("../../rsrc/ico/Postresketo2.svg");
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 13px 0 8px 0;
}

.productos .card-micronutricion .btn-micronutricion::before {
  content: url("../../rsrc/ico/Tienda-white.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 3px;
  right: 5px;
}

.piepagina {
  width: 100%;
  background: #e1e2dc;
  padding: 55px 0;
  margin: 0;
}

.piepagina .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.piepagina .box .logofooter {
  display: inline-block;
}

.piepagina .box .logofooter .logo {
  background: url("../../rsrc/logo-white1.svg");
  width: 100px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.piepagina .box .menu-rrss-derechos {
  width: 50%;
}

.piepagina .box .menu-rrss-derechos .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 8px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.piepagina .box .menu-rrss-derechos .navbar .btn {
  text-decoration: none;
  color: #ffffff;
}

.piepagina .box .menu-rrss-derechos .rrss {
  width: 20%;
  margin: 34px auto;
  text-align: center;
}

.piepagina .box .menu-rrss-derechos .rrss .facebook {
  text-decoration: none;
  margin: 0 3px 0 0;
}

.piepagina .box .menu-rrss-derechos .rrss .facebook .fab {
  font-size: 21px;
  color: #ffffff;
}

.piepagina .box .menu-rrss-derechos .rrss .instagram {
  text-decoration: none;
  margin: 0 0 0 3px;
}

.piepagina .box .menu-rrss-derechos .rrss .instagram .fab {
  font-size: 21px;
  color: #ffffff;
}

.piepagina .box .menu-rrss-derechos .copyright {
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.piepagina .box .box-signup .btn {
  display: inline-block;
  padding: 16px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */