body {
  font-family: "Nunito sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #3b5472;
  background: url("../../rsrc/texture/marble19201.jpg");
  background-attachment: fixed;
  background-size: 75%;
  background-position: 130% 0%;
  margin: 0;
}

.box {
  max-width: 1000px;
  margin: 0 auto;
}

.menu {
  background: #ffffff;
  width: 100%;
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.menu .navbar {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

.menu .navbar .btn-homelogo {
  float: left;
  margin: 9px 0 0 0;
}

.menu .navbar .btn-homelogo .logo {
  background: url("../../rsrc/ico/Logo.svg");
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu .navbar .btn-servicios {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-servicios::before {
  content: url("../../rsrc/ico/Servicios.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-productos {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-productos::before {
  content: url("../../rsrc/ico/Productos.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-contacto {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-contacto::before {
  content: url("../../rsrc/ico/Contacto.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-blog {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-blog::before {
  content: url("../../rsrc/ico/Blog.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-youtube {
  float: right;
  text-decoration: none;
  color: #7d9ab8;
  font-size: 21px;
  margin: 30px 0 0 13px;
}

.menu .navbar .btn-instagram {
  float: right;
  text-decoration: none;
  color: #7d9ab8;
  font-size: 21px;
  margin: 30px 0 0 13px;
}

.menu .navbar .btn-facebook {
  float: right;
  text-decoration: none;
  color: #7d9ab8;
  font-size: 21px;
  margin: 30px 0 0 55px;
}

.menu .navbar .btn-signup {
  background: transparent;
  float: right;
  padding: 16px 30px;
  margin: 10px 0 0 13px;
  text-decoration: none;
  color: #7d9ab8;
  border-radius: 8px;
  border: 2px solid #7d9ab8;
}

.menu .navbar .btn-tienda {
  background: -webkit-gradient(linear, left top, right top, from(#d1dde5), to(#7d9ab8));
  background: linear-gradient(90deg, #d1dde5 0%, #7d9ab8 100%);
  float: right;
  padding: 18px 32px;
  margin: 10px 0 0 13px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 8px;
  border: 0px;
}

.menu .navbar .btn-tienda::after {
  content: url("../../rsrc/ico/Tienda-white.svg");
  float: right;
  width: 19px;
  height: 19px;
  position: relative;
  top: 3px;
  right: px;
  padding: 0px 8px;
}

.contacto {
  margin: 55px 0;
}

.contacto .contacto-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacto .contacto-box .descripcion {
  margin: 0 0 34px 0;
}

.contacto .contacto-box .descripcion .titulo {
  width: 100%;
  text-align: left;
  margin: 0 0 21px 0;
}

.contacto .contacto-box .descripcion .txt {
  line-height: 21px;
  margin: 0;
}

.contacto .contacto-box .formulario {
  width: 48%;
  margin: 0;
  padding: 13px 21px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contacto .contacto-box .formulario .nombre,
.contacto .contacto-box .formulario .correo,
.contacto .contacto-box .formulario .mensaje {
  color: #3b5472;
  width: 100%;
  margin: 0;
  display: inline-block;
}

.contacto .contacto-box .formulario input[type="text"],
.contacto .contacto-box .formulario input[type="email"],
.contacto .contacto-box .formulario textarea[name="mensaje"] {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  font-family: "Nunito sans", sans-serif;
  color: #7d9ab8;
  font-weight: 800;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: transparent;
  border-bottom: 2px solid #3b5472;
  padding: 12px 20px;
  margin: 0 0 13px 0;
}

.contacto .contacto-box .formulario textarea[name="mensaje"] {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
}

.contacto .contacto-box .formulario input[type="submit"] {
  width: 100%;
  background: #3b5472;
  border: 0;
  border-radius: 8px;
  display: inline-block;
  padding: 16px 32px;
  color: #ffffff;
  font-size: 18px;
  font-variant: small-caps;
  font-weight: 800;
  font-family: "Nunito sans", sans-serif;
  cursor: pointer;
}

.contacto .contacto-box .formulario input[type="submit"]:hover {
  background: #7d9ab8;
}

.contacto .contacto-box .info-contacto {
  width: 48%;
  padding: 13px 21px;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contacto .contacto-box .info-contacto .txt-wa::before {
  content: url(../../rsrc/ico/Whatsapp.svg);
  display: inline-block;
  width: 19px;
  height: 19px;
  padding: 0 8px;
  position: relative;
  top: 4px;
}

.contacto .contacto-box .info-contacto .txt-tel::before {
  content: url(../../rsrc/ico/Telfijo.svg);
  display: inline-block;
  width: 19px;
  height: 19px;
  padding: 0 8px;
  position: relative;
  top: 4px;
}

.contacto .contacto-box .info-contacto .txt-correo::before {
  content: url(../../rsrc/ico/Correo.svg);
  display: inline-block;
  width: 19px;
  height: 19px;
  padding: 0 8px;
  position: relative;
  top: 4px;
}

.contacto .contacto-box .info-contacto .txt-direccion::before {
  content: url(../../rsrc/ico/Direccion.svg);
  display: inline-block;
  width: 19px;
  height: 19px;
  padding: 0 8px;
  position: relative;
  top: 4px;
}

.contacto .contacto-box .info-contacto .txt-horario::before {
  content: url(../../rsrc/ico/Cita.svg);
  display: inline-block;
  width: 19px;
  height: 19px;
  padding: 0 8px;
  position: relative;
  top: 4px;
}

.contacto .mapa {
  margin: 89px 0 34px 0;
}

.contacto .mapa .titulo {
  width: 100%;
  text-align: center;
  margin: 0 0 34px;
}

.contacto .mapa .map {
  margin: 0;
}

.piepagina {
  background: #e1e2dc;
  width: 100%;
  padding: 55px 0;
}

.piepagina .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.piepagina .column1 {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  z-index: 1;
}

.piepagina .column1 .logo {
  background: url(../../rsrc/ico/Logo-blanco.svg);
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

.piepagina .column1 .info-contacto {
  margin: 34px 0 0 0;
}

.piepagina .column1 .info-contacto .whatsapp {
  width: 100%;
  color: #ffffff;
  margin: 0 0 8px 0;
  padding: 0;
}

.piepagina .column1 .info-contacto .whatsapp::before {
  content: url(../../rsrc/ico/Whatsapp.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transform: translate(-27px, 0px);
  transform: translate(-27px, 0px);
}

.piepagina .column1 .info-contacto .telefono {
  width: 100%;
  color: #ffffff;
  margin: 0 0 8px 0;
  padding: 0;
}

.piepagina .column1 .info-contacto .telefono::before {
  content: url(../../rsrc/ico/Telfijo.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transform: translate(-27px, 0px);
  transform: translate(-27px, 0px);
}

.piepagina .column1 .info-contacto .correo {
  width: 100%;
  color: #ffffff;
  margin: 0 0 8px 0;
  padding: 0;
}

.piepagina .column1 .info-contacto .correo::before {
  content: url(../../rsrc/ico/Correo.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transform: translate(-27px, 0px);
  transform: translate(-27px, 0px);
}

.piepagina .column1 .info-contacto .direccion {
  width: 100%;
  color: #ffffff;
  margin: 0 0 8px 0;
  padding: 0;
}

.piepagina .column1 .info-contacto .direccion::before {
  content: url(../../rsrc/ico/Direccion.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transform: translate(-27px, 5px);
  transform: translate(-27px, 5px);
}

.piepagina .column1 .info-contacto .horarios {
  width: 100%;
  color: #ffffff;
  margin: 0 0 8px 0;
  padding: 0;
}

.piepagina .column1 .info-contacto .horarios::before {
  content: url(../../rsrc/ico/Cita.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transform: translate(-27px, 4px);
  transform: translate(-27px, 4px);
}

.piepagina .column2 {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  z-index: 1;
}

.piepagina .column2 .sub-servicios {
  width: 100%;
  margin: 55px 0 21px 0;
  padding: 0;
  color: #ffffff;
}

.piepagina .column2 .btn2 {
  color: #ffffff;
  margin: 5px 0;
}

.piepagina .column3 {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  z-index: 1;
}

.piepagina .column3 .sub-productos {
  width: 100%;
  margin: 55px 0 21px 0;
  padding: 0;
  color: #ffffff;
}

.piepagina .column3 .btn {
  color: #ffffff;
  margin: 5px 0;
}

.piepagina .column4 {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  z-index: 1;
}

.piepagina .column4 .facebook,
.piepagina .column4 .instagram,
.piepagina .column4 .youtube {
  width: 12%;
  margin: 55px 0 26px 0;
  padding: 0;
  color: #ffffff;
}

.piepagina .column4 .servicios,
.piepagina .column4 .productos,
.piepagina .column4 .contacto,
.piepagina .column4 .blog {
  width: 100%;
  color: #ffffff;
  margin: 0 0 8px 0;
}

/*# sourceMappingURL=mains.css.map */