.servicios
    margin: 55px 0
    padding: 0
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    // MIXINS-------------
    @mixin cards 
        width: 32%
        margin: 0
        padding: 0
        display: flex
        flex-wrap: wrap
        justify-content: center
        position: relative
        overflow: hidden
        
    @mixin after($content)
        background: $thirdColor
        content: $content
        display: block
        width: auto
        height: 85%
        position: absolute
        box-sizing: border-box
        padding: 18px 27px
        transform: translate(0, -100%)
        transition: 0.8s ease

    @mixin afterHover
        transform: translate(0, 0)

    @mixin img-card($img)
        background: $img
        width: 100%
        height: 250px
        background-repeat: no-repeat
        background-size: cover
        background-position: right
        margin: 0
        padding: 0

    @mixin iconos($icon-svg)
        background: $icon-svg
        width: 60px
        height: 60px
        padding: 0
        margin: 8px 0

    @mixin titulo-card($fs)
        width: 100%
        margin: 0 0 13px 0
        padding: 0
        text-align: center
        line-height: 34px
        font-size: $fs

    @mixin botones($color)
        display: inline-block
        padding: 16px 30px
        margin: 34px 0 0 0
        border: 2px solid $mainColor
        border-radius: 8px
        color: $color
        text-decoration: none
        align-self: flex-end
    // --------------------------

    // CARD SERVICIOS------------
    .card-servicios
        @include cards
        &::after
            @include after('Independienmente de cual sea tu situación nutricional, te ayudamos a llegar a tus objetivos específicos de peso y salud, con un programa personalizado que es eficaz, adaptable a tu estilo de vida, fácil de seguir, sin síntomas alternos ni rebote al acabar el tratamiento. Aprenderás al mismo tiempo técnicas de comer conscientemente, y combatir la ansiedad indispensables para mantenimiento de peso a largo plazo.')
        &:hover::after
            @include afterHover

        .img
            @include img-card(url(../../rsrc/img/servicios/consulta.jpg))

        .icono-consulta
            @include iconos(url(../../rsrc/ico/Consulta.svg))

        .consulta
            @include titulo-card($h34)

        .btn-consulta
            @include botones($mainColor)
            &::before
                content: url(../../rsrc/ico/Carrito.svg)
                display: inline-block
                width: 20px
                height: 20px
                margin: 0
                padding: 0 5px 0 0
                position: relative
                top: 4px

    // CARD PROGRAMAS------------------
    .card-programas
        @extend .card-servicios
        &::after
            @include after('Todos los paquetes incluyen: Consulta presencial o en modalidad en línea. Diagnóstico nutricional. Programa de alimentación personalizado. Asesoría en línea continua. Recetarios. Listas de super. Guías de marcas recomendadas. Herramientas para aprender a comer conscientemente, escuchando a tu cuerpo y las señales que te da de acuerdo a sus necesidades. Herramientas de manejo de ansiedad.')
            
        .img
            @include img-card(url(../../rsrc/img/servicios/programas.jpg))

        .icono-paquetes
            @include iconos(url(../../rsrc/ico/Programaspaquetes.svg))

        .paquetes
            @extend .consulta

        .btn-paquetes
            @include botones($mainColor)
            &::before
                content: url(../../rsrc/ico/Carrito.svg)
                display: inline-block
                width: 20px
                height: 20px
                margin: 0
                padding: 0 5px 0 0
                position: relative
                top: 4px

    // CARD CURSOS Y TALLERES--------------
    .card-cursos
        @extend .card-servicios
        &::after
            @include after('Dirigido para empresas o público en general, permitirá adquirir los conocimientos básicos para cuidar su alimentación de manera cotidiana, práctica y aplicable al día a día, buscando un cambio un nutricional que llegue a mejorar calidad de vida de los asistentes. Cursos de nutrición básica a elegir (duración de 2 horas).')
            

        .img
            @include img-card(url(../../rsrc/img/servicios/cursos.jpg))

        .icono-cursos
            @include iconos(url(../../rsrc/ico/Cursostalleres.svg))

        .cursos
            @extend .consulta
        
        .btn-cursos
            @include botones($mainColor)
            &::before
                content: url(../../rsrc/ico/Carrito.svg)
                display: inline-block
                width: 20px
                height: 20px
                margin: 0
                padding: 0 5px 0 0
                position: relative
                top: 4px
