body {
  font-family: "Nunito sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #3b5472;
  background: url("../../rsrc/texture/marble19201.jpg");
  background-size: 75%;
  background-position: 130% 0%;
  margin: 0;
}

.box {
  max-width: 1000px;
  margin: 0 auto;
}

.menu {
  background: #ffffff;
  width: 100%;
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.menu .navbar {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
}

.menu .navbar .btn-homelogo {
  float: left;
  margin: 9px 0 0 0;
}

.menu .navbar .btn-homelogo .logo {
  background: url("../../rsrc/ico/Logo.svg");
  width: 60px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu .navbar .btn-servicios {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-servicios::before {
  content: url("../../rsrc/ico/Servicios.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-productos {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-productos::before {
  content: url("../../rsrc/ico/Productos.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-contacto {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-contacto::before {
  content: url("../../rsrc/ico/Contacto.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-blog {
  text-decoration: none;
  color: #7d9ab8;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  margin: 21px 0 0 0;
}

.menu .navbar .btn-blog::before {
  content: url("../../rsrc/ico/Blog.svg");
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 4px;
  right: 5px;
}

.menu .navbar .btn-instagram {
  float: right;
  text-decoration: none;
  color: #7d9ab8;
  font-size: 21px;
  margin: 30px 0 0 13px;
}

.menu .navbar .btn-facebook {
  float: right;
  text-decoration: none;
  color: #7d9ab8;
  font-size: 21px;
  margin: 30px 0 0 55px;
}

.menu .navbar .btn-signup {
  background: transparent;
  float: right;
  padding: 16px 30px;
  margin: 10px 0 0 13px;
  text-decoration: none;
  color: #7d9ab8;
  border-radius: 8px;
  border: 2px solid #7d9ab8;
}

.menu .navbar .btn-tienda {
  background: -webkit-gradient(linear, left top, right top, from(#d1dde5), to(#7d9ab8));
  background: linear-gradient(90deg, #d1dde5 0%, #7d9ab8 100%);
  float: right;
  padding: 18px 32px;
  margin: 10px 0 0 13px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 8px;
  border: 0px;
}

.menu .navbar .btn-tienda::after {
  content: url("../../rsrc/ico/Tienda-white.svg");
  float: right;
  width: 19px;
  height: 19px;
  position: relative;
  top: 3px;
  right: px;
  padding: 0px 8px;
}

.servicios {
  margin: 55px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.servicios .card-servicios, .servicios .card-programas, .servicios .card-cursos {
  width: 32%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.servicios .card-servicios .img, .servicios .card-programas .img, .servicios .card-cursos .img {
  background: url(../../rsrc/img/servicios/consulta.jpg);
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin: 0;
  padding: 0;
}

.servicios .card-servicios .icono-consulta, .servicios .card-programas .icono-consulta, .servicios .card-cursos .icono-consulta {
  background: url(../../rsrc/ico/Consulta.svg);
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 8px 0;
}

.servicios .card-servicios .consulta, .servicios .card-programas .consulta, .servicios .card-cursos .consulta, .servicios .card-programas .paquetes, .servicios .card-cursos .cursos {
  width: 100%;
  margin: 0 0 13px 0;
  padding: 0;
  text-align: center;
  line-height: 34px;
  font-size: 34px;
}

.servicios .card-servicios .btn-consulta, .servicios .card-programas .btn-consulta, .servicios .card-cursos .btn-consulta {
  display: inline-block;
  padding: 16px 30px;
  margin: 34px 0 0 0;
  border: 2px solid #3b5472;
  border-radius: 8px;
  color: #3b5472;
  text-decoration: none;
}

.servicios .card-servicios .btn-consulta::before, .servicios .card-programas .btn-consulta::before, .servicios .card-cursos .btn-consulta::before {
  content: url(../../rsrc/ico/Carrito.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0 5px 0 0;
  position: relative;
  top: 4px;
}

.servicios .card-programas .img {
  background: url(../../rsrc/img/servicios/programas.jpg);
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin: 0;
  padding: 0;
}

.servicios .card-programas .icono-paquetes {
  background: url(../../rsrc/ico/Programaspaquetes.svg);
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 8px 0;
}

.servicios .card-programas .btn-paquetes {
  display: inline-block;
  padding: 16px 30px;
  margin: 34px 0 0 0;
  border: 2px solid #3b5472;
  border-radius: 8px;
  color: #3b5472;
  text-decoration: none;
}

.servicios .card-programas .btn-paquetes::before {
  content: url(../../rsrc/ico/Carrito.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0 5px 0 0;
  position: relative;
  top: 4px;
}

.servicios .card-cursos .img {
  background: url(../../rsrc/img/servicios/cursos.jpg);
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin: 0;
  padding: 0;
}

.servicios .card-cursos .icono-cursos {
  background: url(../../rsrc/ico/Cursostalleres.svg);
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 8px 0;
}

.servicios .card-cursos .btn-cursos {
  display: inline-block;
  padding: 16px 30px;
  margin: 34px 0 0 0;
  border: 2px solid #3b5472;
  border-radius: 8px;
  color: #3b5472;
  text-decoration: none;
}

.servicios .card-cursos .btn-cursos::before {
  content: url(../../rsrc/ico/Carrito.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0 5px 0 0;
  position: relative;
  top: 4px;
}

.piepagina {
  width: 100%;
  background: #e1e2dc;
  padding: 55px 0;
  margin: 0;
}

.piepagina .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.piepagina .box .logofooter {
  display: inline-block;
}

.piepagina .box .logofooter .logo {
  background: url("../../rsrc/logo-white1.svg");
  width: 100px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.piepagina .box .menu-rrss-derechos {
  width: 50%;
}

.piepagina .box .menu-rrss-derechos .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 8px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.piepagina .box .menu-rrss-derechos .navbar .btn {
  text-decoration: none;
  color: #ffffff;
}

.piepagina .box .menu-rrss-derechos .rrss {
  width: 20%;
  margin: 34px auto;
  text-align: center;
}

.piepagina .box .menu-rrss-derechos .rrss .facebook {
  text-decoration: none;
  margin: 0 3px 0 0;
}

.piepagina .box .menu-rrss-derechos .rrss .facebook .fab {
  font-size: 21px;
  color: #ffffff;
}

.piepagina .box .menu-rrss-derechos .rrss .instagram {
  text-decoration: none;
  margin: 0 0 0 3px;
}

.piepagina .box .menu-rrss-derechos .rrss .instagram .fab {
  font-size: 21px;
  color: #ffffff;
}

.piepagina .box .menu-rrss-derechos .copyright {
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.piepagina .box .box-signup .btn {
  display: inline-block;
  padding: 16px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */